@tailwind base;
@tailwind components;
@tailwind utilities;

/* font family  */
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.secondary-font {
  font-family: "Merienda", cursive !important;
}

.scroll-style {
  scrollbar-width: none !important;
  scrollbar-color: rgb(255, 255, 255) rgb(255, 255, 255);
}

/* Works on Chrome, Edge, and Safari */
.scroll-style::-webkit-scrollbar {
  width: 1px !important;
}

.scroll-style::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

.scroll-style::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 1px;
  border: 0px solid rgb(255, 255, 255);
}
.scroll-style {
  /* Works on Firefox */
}

/* tooltip */
.tooltip {
  position: relative;
  cursor: pointer;
}
.tooltip .tooltiptext {
  font-size: 10px;
  visibility: hidden;
  width: auto;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 125%;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tab_scroll::-webkit-scrollbar {
  width: 0px;
}
/* hand wave */
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

/* marque */

.marquee {
  width: 100%;
  overflow: hidden;
}

.marquee p {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* custom scrollbar for room category */

/* .category_scrollbar::-webkit-scrollbar {
  width: 10px;
}

.category_scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}


.category_scrollbar::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 10px;
} */

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.d_options {
  padding: 5px;
}
.d_options:hover {
  background: lightblue;
}

.b_profile_container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
}

/* DOWNLOAD BUTTON STYLE  */

button.link {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 13rem;
  height: auto;
}

button.link.style-7 .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #000;
  border-radius: 1.625rem;
}

button.link.style-7 .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.link.style-7 .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.link.style-7 .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.link.style-7 .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 2.85rem;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button.link.style-7:hover .circle {
  width: 100%;
}

button.link.style-7:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button.link.style-7:hover .button-text {
  color: #fff;
}

.overflow-hidden-scroll {
  overflow: hidden !important;
}

/* hall room logo animation  */
/* @keyframes ping {
  75%,
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.animate-ping-slow {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
} */

/* banner color  */
.banner-section {
  background-image: linear-gradient(90deg, #ffffff 64%, #252161 20%);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0); /* Start and end position */
    animation-timing-function: ease-in-out; /* Smooth acceleration and deceleration */
  }
  50% {
    transform: translateY(
      -15px
    ); /* Peak position, adjust the value as needed */
  }
}

.animate-bounce-custom {
  animation: bounce 1s infinite; /* Run the animation infinitely */
}

/* service section hover animation  */

@media screen and (max-width: 1280px) {
  .b_profile_container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .banner-section {
    background-image: linear-gradient(90deg, #ffffff 80%, #ffffff 20%);
  }
}

@media screen and (max-width: 1024px) {
  .b_profile_container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .banner-section {
    background-image: linear-gradient(90deg, #ffffff 80%, #ffffff 20%);
  }
}

@media screen and (max-width: 600px) {
  .b_profile_container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .banner-section {
    background-image: linear-gradient(90deg, #ffffff 80%, #ffffff 20%);
  }
}
@media screen and (max-width: 400px) {
}
@media screen and (max-width: 340px) {
  .b_profile_container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .banner-section {
    background-image: linear-gradient(90deg, #ffffff 100%, #ffffff 20%);
  }
}
